<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body{
            background:linear-gradient(#FFF4E4 50%,  rgba(255, 98, 0, 0.25) 100%);
            min-height: 100vh;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            font-family:
            Inter,
            -apple-system,
            BlinkMacSystemFont,
            'Segoe UI',
            Roboto,
            Oxygen,
            Ubuntu,
            Cantarell,
            'Fira Sans',
            'Droid Sans',
            'Helvetica Neue',
            sans-serif;
            font-size: 15px;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            padding: 0 calc(2rem + 5vw);
            margin: 0;
            text-align: center;
        }
        
        #pawfooter{
            background-image: url("https://file.garden/Z1X6ItHu3lmreWfD/paws.png");
            position: fixed;
            bottom: 0;
            width: 100%;
            z-index: -1;
            background-repeat: repeat-x;
            height: 200px;
            margin-top: 1.5rem;
        }
        img{
        height: 160px;
        width: 160px;
        margin-top: 3rem;
        }
        a{
            text-decoration: none;
        }
        #header{
            background-color: #FDBA74;
            width: 100vw;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            padding: 1rem auto;
            font-weight: 600;
        
            
        }
        #empty{
            width: 100px;
            margin-right: 0.5rem;
        }
        
        #mh-icon{
        margin-left: 0.5rem;
        }
        p{
            font-size: 1.1rem;
            font-weight: 500;
        
        }
        #warning {
            font-weight: 600;
            margin-top: 1.5rem;
        }
    </style>
</head>
<body>
<div id="header">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:serif="http://www.serif.com/" width="100px" height="auto" viewBox="0 0 3200 2134" version="1.1" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;" id="mh-icon">
        <g id="Radar">
            <circle cx="1590.03" cy="977.467" r="52.083" style="fill:none;stroke:#000;stroke-width:33.33px;"></circle>
            <circle cx="1590.03" cy="977.467" r="260.417" style="fill:none;stroke:#000;stroke-width:33.33px;"></circle>
            <path d="M1458.16,527.552c41.836,-12.259 86.09,-18.835 131.868,-18.835c96.635,-0 186.48,29.305 261.125,79.506" style="fill:none;stroke:#000;stroke-width:33.33px;"></path>
            <path d="M1848.91,1368.21c-74.198,49.284 -163.21,78.005 -258.878,78.005c-104.472,-0 -201.008,-34.251 -278.98,-92.127" style="fill:none;stroke:#000;stroke-width:33.33px;"></path>
            <path d="M1304.83,363.294c86.696,-40.367 183.338,-62.91 285.203,-62.91c192.269,-0 365.928,80.314 489.229,209.196" style="fill:none;stroke:#000;stroke-width:33.33px;"></path>
            <path d="M1852.92,1601.54c-80.844,34.132 -169.678,53.006 -262.885,53.006c-101.384,0 -197.592,-22.331 -283.972,-62.338" style="fill:none;stroke:#000;stroke-width:33.33px;"></path>
            <path d="M2032.32,524.762l26.462,-26.462" style="fill:none;stroke:#000;stroke-width:33.33px;"></path>
            <path d="M1621.28,935.8l231.365,-231.365" style="fill:none;stroke:#000;stroke-width:33.33px;"></path>
        </g>
        <g id="Macska">
            <path d="M1933.63,987.884c-72.222,60.663 -81.75,135.879 -83.334,166.666c-0.592,11.513 -0.005,416.409 0,416.667c1.98,105.393 78.233,144.089 145.834,145.833c61.288,1.582 148.571,-42.586 145.833,-145.833c-0.007,-0.27 -0,-270.833 -0,-270.833c-0,-0 0.007,269.792 -0,270.833c-0.796,110.495 86.392,146.425 145.833,145.833c66.288,-0.66 144.191,-31.873 145.834,-145.833c0.008,-0.584 -0.087,-350.877 0.002,-270.833c0.158,141.412 0.004,270.417 -0.002,270.833c-1.692,103.494 48.388,144.442 125,145.833c35.791,0.65 146.943,0 208.333,0c249.055,0 360.461,-155.42 362.884,-350.021c3.281,-263.429 -50.857,-364.795 -123.987,-315.156c-96.951,65.807 68.017,415.551 -203.03,421.475c-8.505,0.186 -17.587,-0.88 -27.281,-2.196" style="fill:none;stroke:#000;stroke-width:33.33px;"></path>
            <path d="M2779.17,1508.72c0,6.737 -5.47,12.207 -12.207,12.207c-6.738,0 -12.207,-5.47 -12.207,-12.207l-3.036,-104.167c-0.35,-17.545 -4.067,-36.14 -9.647,-55.315c-5.192,-17.842 -12.094,-36.146 -20.309,-54.366c-25.072,-55.601 -61.709,-110.481 -93.305,-150.548c-33.493,-42.669 -76.97,-74.87 -118.731,-98.848c-75.005,-43.066 -144.899,-59.51 -144.899,-59.51l0.998,-4.346c-6.567,-1.507 -10.675,-8.062 -9.168,-14.628c1.507,-6.567 8.061,-10.675 15.626,-13.515c-0,0 74.577,16.716 154.461,62.254c45.393,25.877 92.359,61.102 128.721,107.384c32.911,42.085 71.193,99.643 96.986,158.063c8.763,19.846 16.192,39.77 21.327,59.275c5.854,22.236 8.829,43.899 8.426,64.1l-3.036,104.167Z"></path>
            <path d="M2308.78,550.384l124.848,-83.334l-0,312.5c-0,178.177 -167.68,270.834 -291.667,270.834c-123.987,-0 -291.667,-92.657 -291.667,-270.834l0,-312.5l125.153,83.334" style="fill:none;stroke:#000;stroke-width:33.33px;"></path>
            <path d="M1984.47,564.165c-6.457,4.978 -15.74,3.778 -20.718,-2.679c-4.978,-6.456 -3.777,-15.739 2.679,-20.717c0,-0 12.961,-11.485 39.554,-23.339c7.976,-3.554 17.3,-6.922 27.805,-10.166c27.609,-8.526 63.809,-15.382 108.327,-15.45c44.519,0.066 80.717,6.929 108.328,15.448c10.506,3.241 19.834,6.6 27.81,10.155c26.595,11.852 39.548,23.352 39.548,23.352c6.457,4.978 7.657,14.261 2.679,20.717c-4.978,6.457 -14.261,7.657 -20.717,2.679c-0,0 -12.393,-7.832 -35.772,-16.756c-10.823,-4.132 -23.849,-8.698 -39.252,-12.406c-22.636,-5.449 -50.205,-9.42 -82.624,-9.383c-32.419,-0.038 -59.987,3.936 -82.624,9.38c-15.405,3.705 -28.435,8.26 -39.258,12.392c-23.379,8.925 -35.765,16.773 -35.765,16.773Z"></path>
            <path d="M2259.99,1253.81c2.708,-3.85 8.032,-4.777 11.882,-2.068c3.85,2.708 4.776,8.032 2.068,11.882c0,0 -5.175,10.397 -20.825,23.338c-6.481,5.359 -14.823,10.851 -25.577,15.875c-9.395,4.389 -20.701,7.946 -33.86,10.703c-14.76,3.094 -32.023,4.559 -51.919,4.526c-19.688,-0.425 -36.791,-2.137 -51.422,-5.345c-13.005,-2.852 -24.194,-6.394 -33.504,-10.713c-10.695,-4.961 -18.965,-10.355 -25.461,-15.54c-15.897,-12.69 -21.256,-22.669 -21.256,-22.669c-2.805,-3.781 -2.013,-9.127 1.767,-11.931c3.781,-2.805 9.127,-2.013 11.931,1.767c0,0 13.134,10.756 43.867,18.944c6.471,1.725 13.64,3.45 21.7,5.011c14.641,2.835 32.042,5.119 52.79,5.111c20.754,0.495 38.146,-1.524 52.755,-4.274c8.035,-1.512 15.173,-3.24 21.615,-4.994c30.332,-8.259 43.449,-19.623 43.449,-19.623Z"></path>
            <ellipse cx="2001.49" cy="795.175" rx="26.042" ry="36.458" style="stroke:#000;stroke-width:33.33px;"></ellipse>
            <path d="M2142.11,842.05c22.997,0 41.667,7.002 41.667,15.625c-0,8.624 -41.667,26.042 -41.667,26.042c0,-0 -41.666,-17.418 -41.666,-26.042c-0,-8.623 18.67,-15.625 41.666,-15.625Z" style="stroke:#000;stroke-width:33.33px;"></path>
            <ellipse cx="2282.74" cy="795.175" rx="26.042" ry="36.458" style="stroke:#000;stroke-width:33.33px;"></ellipse>
        </g>
        <g id="Kutya">
            <path d="M1225.45,987.884c72.221,60.663 81.749,135.879 83.333,166.666c0.592,11.513 0.005,416.409 -0,416.667c-1.979,105.393 -78.233,144.089 -145.833,145.833c-61.289,1.582 -148.572,-42.586 -145.834,-145.833c0.007,-0.27 0,-270.833 0,-270.833c0,-0 -0.007,269.792 0,270.833c0.796,110.495 -86.392,146.425 -145.833,145.833c-66.288,-0.66 -144.19,-31.873 -145.833,-145.833c-0.009,-0.584 0.086,-350.877 -0.003,-270.833c-0.158,141.412 -0.004,270.417 0.003,270.833c1.691,103.494 -48.389,144.442 -125,145.833c-35.791,0.65 -146.951,-0.9 -208.334,0c-252.026,3.696 -331.312,-403.516 -250,-625c135.406,236.462 134.693,237.364 239.584,333.334" style="fill:none;stroke:#000;stroke-width:33.33px;"></path>
            <path d="M404.322,1508.72c-0,6.737 -5.47,12.207 -12.208,12.207c-6.737,0 -12.207,-5.47 -12.207,-12.207l-3.036,-104.167c-0.403,-20.201 2.572,-41.864 8.426,-64.1c5.135,-19.505 12.565,-39.429 21.327,-59.275c25.793,-58.42 64.075,-115.978 96.987,-158.063c36.361,-46.282 83.327,-81.507 128.721,-107.384c79.883,-45.538 154.461,-62.254 154.461,-62.254l0.997,4.347c6.567,-1.507 13.121,2.601 14.628,9.168c1.507,6.566 -2.601,13.121 -8.17,18.974c-0,0 -69.894,16.444 -144.899,59.51c-41.761,23.978 -85.238,56.179 -118.731,98.848c-31.596,40.067 -68.233,94.947 -93.304,150.548c-8.216,18.22 -15.118,36.524 -20.309,54.366c-5.58,19.175 -9.298,37.77 -9.648,55.315l-3.035,104.167Z"></path>
            <path d="M712.794,571.217c0,-6.984 5.67,-12.653 12.654,-12.653c6.983,-0 12.653,5.669 12.653,12.653l2.855,208.333c0.521,84.587 27.674,148.587 76.395,191.071c47.985,41.842 116.453,62.697 199.763,62.602c84.266,0.076 153.369,-19.145 201.428,-60.927c47.711,-41.478 74.1,-105.055 74.614,-192.746l2.972,-208.333c-0,-6.984 5.669,-12.653 12.653,-12.653c6.983,-0 12.653,5.669 12.653,12.653l2.972,208.333c0.581,99.153 -29.898,171 -83.527,218.264c-53.21,46.895 -129.914,69.646 -223.765,69.73c-92.847,-0.106 -168.937,-24.504 -222.073,-71.525c-54.718,-48.422 -85.691,-120.858 -85.102,-216.469l2.855,-208.333Z"></path>
            <path d="M885.139,1263.62c-2.708,-3.85 -1.782,-9.174 2.068,-11.882c3.85,-2.709 9.174,-1.782 11.882,2.068c0,-0 13.117,11.364 43.449,19.623c6.442,1.754 13.58,3.482 21.616,4.994c14.609,2.75 32,4.769 52.754,4.274c20.748,0.008 38.15,-2.276 52.79,-5.111c8.06,-1.561 15.229,-3.286 21.701,-5.011c30.732,-8.188 43.866,-18.944 43.866,-18.944c2.805,-3.78 8.151,-4.572 11.931,-1.767c3.78,2.804 4.572,8.15 1.767,11.931c0,-0 -5.359,9.979 -21.256,22.669c-6.495,5.185 -14.766,10.579 -25.461,15.54c-9.31,4.319 -20.499,7.861 -33.504,10.713c-14.631,3.208 -31.734,4.92 -51.421,5.345c-19.896,0.033 -37.159,-1.432 -51.92,-4.526c-13.159,-2.757 -24.465,-6.314 -33.86,-10.703c-10.754,-5.024 -19.096,-10.516 -25.577,-15.875c-15.649,-12.941 -20.825,-23.338 -20.825,-23.338Z"></path>
            <path d="M722.811,765.016c8.022,-1.455 15.716,3.876 17.171,11.898c1.455,8.022 -3.877,15.716 -11.898,17.171c-0,-0 -85.35,15.861 -140.6,-42.471c-25.532,-26.956 -45.05,-69.999 -45.396,-138.73c-0.041,-63.424 33.135,-134.849 82.74,-190.509c50.909,-57.123 118.861,-97.179 183.953,-97.195l416.667,-0.001c65.091,0.015 133.045,40.071 183.955,97.195c49.606,55.66 82.781,127.086 82.74,190.51c-0.342,68.965 -19.725,112.11 -45.108,139.086c-55.299,58.768 -141.014,42.092 -141.014,42.092c-8.009,-1.523 -13.275,-9.262 -11.752,-17.271c1.524,-8.009 9.262,-13.275 17.271,-11.752c0,-0 68.595,12.609 112.018,-34.852c20.942,-22.89 35.481,-59.54 35.194,-117.303c-0.036,-56.145 -30.505,-118.878 -74.46,-168.111c-44.226,-49.537 -102.354,-85.865 -158.844,-85.852l-416.667,-0c-56.491,-0.014 -114.62,36.313 -158.847,85.85c-43.956,49.233 -74.424,111.968 -74.46,168.113c-0.29,57.505 14.353,94.036 35.397,116.886c43.491,47.222 111.94,35.246 111.94,35.246Z"></path>
            <circle cx="881.698" cy="664.967" r="31.25" style="stroke:#000;stroke-width:33.33px;"></circle>
            <circle cx="1152.53" cy="664.967" r="31.25" style="stroke:#000;stroke-width:33.33px;"></circle>
            <path d="M1027.53,817.96c22.996,0 41.667,7.468 41.667,16.667c-0,9.199 -18.671,28.257 -41.667,28.257c-22.997,-0 -41.667,-19.058 -41.667,-28.257c0,-9.199 18.67,-16.667 41.667,-16.667Z" style="stroke:#000;stroke-width:33.33px;"></path>
        </g>
    </svg>
  <h1 id="headertext">GazdiRadar</h1>
  <p id="empty"></p>
</div>
<img src="https://file.garden/Z1X6ItHu3lmreWfD/pet.png" alt="">

<h1>Értesítő a sikeres leadással kapcsolatban!</h1>
<h2>Kedves <%= content.userName %>!</h2>


<p>Köszönjük, hogy <%= content.animalname == '' ? "az ön által beküldött állatát" : `${content.animalname} nevű állatát` %> a GazdiRadar csapatjára kívánja bízni! Csapatunk gondoskodik róla, hogy a kérelmét elfogadjuk és az állat hozzánk kerülése megkezdőthessen. Ha bármi probléma közbe jön, nyugodtan értesítsen minket erről!</p>

<p id="warning">Ha nem Ön adott le állatot, kérjük hagyja figyelmen kívül ezt az emailt!</p>
<p>Üdvözlettel: A GazdiRadar csapata</p>
</div>

<div id="pawfooter"></div>
</body>
</html>